src/main/resources/bookTicket.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.training.mulesoft.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TicketServiceService" targetNamespace="http://soap.training.mulesoft.com/">
   <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://soap.training.mulesoft.com/" version="1.0">
         <xs:element name="bookTicket" type="tns:bookTicket" />
         <xs:element name="bookTicketResponse" type="tns:bookTicketResponse" />
         <xs:complexType name="bookTicket">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:bookRequest" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="bookTicketResponse">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:bookResponse" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="bookRequest">
            <xs:sequence>
               <xs:element type="xs:string" name="city" />
               <xs:element type="xs:string" name="theatreName" />
               <xs:element type="xs:string" name="location" />
               <xs:element type="xs:string" name="movieName" />
               <xs:element type="xs:string" name="language" />
               <xs:element type="xs:date" name="showDate" />
               <xs:element type="xs:time" name="showTime" />
               <xs:element type="xs:string" name="seatType" />
               <xs:element type="xs:float" name="noOfSeats" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="bookResponse">
            <xs:sequence>
               <xs:element type="xs:string" name="message" />
               <xs:element type="xs:string" name="eticket" />
               <xs:element type="xs:string" name="ticketNumber" />
               <xs:element type="xs:float" name="totalPrice" />
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="bookTicket">
      <wsdl:part element="tns:bookTicket" name="parameters" />
   </wsdl:message>
   <wsdl:message name="bookTicketResponse">
      <wsdl:part element="tns:bookTicketResponse" name="parameters" />
   </wsdl:message>
   <wsdl:portType name="TicketService">
      <wsdl:operation name="bookTicket">
         <wsdl:input message="tns:bookTicket" name="bookTicket" />
         <wsdl:output message="tns:bookTicketResponse" name="bookTicketResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="TicketServiceServiceSoapBinding" type="tns:TicketService">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="bookTicket">
         <soap:operation soapAction="" style="document" />
         <wsdl:input name="bookTicket">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="bookTicketResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="TicketServiceService">
      <wsdl:port binding="tns:TicketServiceServiceSoapBinding" name="TicketServicePort">
         <soap:address location="http://localhost:8082/" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>